.trend-display-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 32px;
}

.upward-trend,
.downward-trend,
.no-data-pill,
.neutral-trend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  min-height: 26px;
  max-height: 26px;
  width: fit-content;
  padding: 0 10px;
  gap: 2px;
}

.no-data-pill {
  background-color: lightgray;
  max-width: 120px;
  padding: 10px 5px 10px 5px;
  font-size: .5rem;
  opacity: .5;
  text-align: center;
  line-height: .6rem;
}

.upward-trend > img,
.downward-trend > img,
.neutral-trend > img {
  margin-right: 10%;
}

.neutral-trend {
  background-color: var(--primary-gray-color);
}

.upward-trend {
  background-color: var(--success-accent-color);
}

.downward-trend {
  background-color: var(--warning-accent-color);
}

.upward-trend > h5, 
.downward-trend > h5 {
  color: var(--white-color);
  flex-grow: 1;
  white-space: nowrap;
  padding-right: 5px;
  /* overflow: hidden; */
  text-overflow: visible;
}

.neutral-trend > h5 {
  color: var(--black-color);
  flex-grow: 1;
  white-space: nowrap;
  padding-right: 5px;
  /* overflow: hidden; */
  text-overflow: visible;

}

.trend-pill-text {
  line-height: 1;
  /* font-size: var(--smaller-font); */
}

/* ---------- Media Queries ---------- */
/* Initial Desktop Breakpoint */
/* @media screen and (max-width: 1300px) {} */

/* Initial Tablet Breakpoint */
/* @media screen and (max-width: 760px) {} */

/* Initial Mobile Breakpoint */
@media screen and (max-width: 450px) {
  .upward-trend,
  .downward-trend,
  .neutral-trend {
    min-width: 100px;
  }
}
