.summary-card {
  border-top: 1px solid var(--primary-border-color);
  background-color: white;
  height: 100%;
  width: 100%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-card:hover {
  cursor: pointer;
}

.summary-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-card-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  width: 100%;
}

.summary-data-wrapper {
  display: flex;
  align-items: center;
  height: 70%;
}

.summary-chart,
.summary-data {
  min-height: 100px;
  align-self: center;
  margin: 2% 0;
}

.summary-data {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

.summary-chart {
  width: 60%;
}

.summary-value {
  font-size: 30px;
}

.upward-trend,
.downward-trend {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: white;
  height: 30px;
  width: 100px;
  padding: 2%;
}

.upward-trend > img,
.downward-trend > img {
  margin-right: 10%;
}

.upward-trend {
  background-color: var(--success-accent-color);
}

.downward-trend {
  background-color: var(--warning-accent-color);
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Tablet Breakpoint */
@media screen and (max-width: 1280px) {
  .summary-card-title {
    font-size: 18px;
  }
}

/* Initial Mobile Breakpoint */
@media screen and (max-width: 767px) {
  .summary-card {
    padding: 2%;
    border: 1px solid var(--primary-border-color);
  }

  .summary-card-title {
    width: 50%;
  }

  .upward-trend,
  .downward-trend {
    min-width: 100px;
  }
}
