.info-icon {
  color: var(--secondary-gray-color) !important;
  font-size: 14px !important;
  /* width: 12px;
  height: 12px; */
}

.info-icon:hover {
  cursor: pointer;
  opacity: 0.8;
  color: var(--primary-blue-color) !important;
}

.info-icon-popup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 180px;
}

.info-icon-popup-container > * {
  /* margin-bottom: 10px; */
  line-height: 1;
}

.info-icon-text-container > * {
  font-family: var(--font-family-regular);
}

.info-icon-text-container > *,
.info-icon-popup-text {
  font-size: 12px;
}

/* ---------- Media Queries ---------- */
/* Initial Mobile Breakpoint */
/* @media screen and (max-width: 760px) {} */
