.indicator-trend-wrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.indicator-data-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.indicator-value-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* width: 250px; */
}

.indicator-value-container > h1 {
  margin-right: 20px;
}





/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Mobile Breakpoint */
@media screen and (max-width: 760px) {
  .indicator-value-container > h1 {
    font-size: 22px;
  }
  .indicator-value-container > div > h4 {
    font-size: 14px;
  }
}
