.overview-card {
  padding: 5%;
  position: relative;
  height: 100%;
}

.overview-title {
  font-size: 50px;
  width: 100%;
}

.overview-body {
  line-height: 1.75;
  font-size: 18px;
}

.overview-body > div {
  margin: 10% 0;
}

.overview-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Tablet Breakpoint */
@media screen and (max-width: 1280px) {
  .overview-card {
    padding: 0;
  }

  .overview-body {
    padding: 20px;
  }
  .overview-body > div {
    margin: 0 0 20px 0;
  }
}

/* Initial Mobile Breakpoint */
@media screen and (max-width: 767px) {
  .overview-body {
    font-size: 14px;
    padding-bottom: 0;
  }

  .overview-body > div {
    margin-bottom: 10px;
  }
}
