.overview-card {
  padding: 5%;
  position: relative;
  height: 100%;
}

.overview-title {
  font-size: 50px;
  width: 100%;
}

.overview-body {
  line-height: 2;
}

.overview-body > div {
  margin: 10% 0;
}

.overview-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5%;
  display: flex;
  justify-content: flex-end;
}

.overview-icons > img {
  margin: 0 10%;
  width: 50px;
}

.overview-icons > img:hover {
  cursor: pointer;
  opacity: 0.75;
}
