.data-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* max-width: 200px; */
  min-height: fit-content !important;
  padding: 0 0 5px 5px;
}

.data-toggle-container > p {
  font-size: .9rem;
}

.data-toggle  {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 350px;
  min-height: fit-content;
  padding-left: 10px;
}

.data-toggle > h5 {
  padding: 0;
  margin: 0;
  width: 60px;
  text-align: center;
}

.toggle-el {
  margin: 0 10px;
}
