.data-toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 200px;
  min-height: 60px;
  padding: 0 0 10px 20px;
}

.data-toggle-container > h5 {
  padding: 0;
  margin: 0;
  width: 60px;
  text-align: center;
}

.toggle-el {
  margin: 0 10px;
}
