.compare-dropdown-container {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 20px;
}

.compare-dropdown-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.main-value-container,
.option-selection-container {
  width: auto;
}

.main-value-container,
.option-selection-container,
.compare-dropdown-container > h5 {
  margin-top: 10px;
}

.main-value-container {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.option-selection-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.option-selector {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  background-color: var(--primary-gray-color);
}

.option-selector:hover {
  cursor: pointer;
}

.option-selector > div {
  display: flex;
  align-items: center;
  width: fit-content;
}

.option-selector > div > * {
  margin-right: 10px;
}

.selected-option-svg,
.main-value-svg {
  margin-left: 20px;
}

.selected-option-svg > rect {
  fill: var(--data-secondary-color);
}

.main-value-svg > rect {
  fill: var(--data-primary-color);
}

.compare-options-container {
  background-color: var(--primary-gray-color);
  position: absolute;
  width: 100%;
  top: 15px;
  padding: 0 20px;
  z-index: 999;
  list-style: none;
  max-height: 300px;
  overflow: auto;
}

.compare-selected-option,
.compare-unselected-option {
  padding: 10px 0;
}

.compare-selected-option:hover,
.compare-unselected-option:hover {
  cursor: pointer;
}

.compare-unselected-option:hover {
  opacity: 0.5;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Mobile Breakpoint */
@media screen and (max-width: 760px) {
  .compare-options-container {
    top: 24px;
  }
}
