.compare-dropdown-container {
  display: flex;
  flex-direction: column;
  /* padding: 5px 5px 5px 20px; */
}

.compare-dropdown-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* margin: 10px 20px 0 0; */
  padding: 10px 20px 0 0;
}

.main-value-container,
.option-selection-container {
  /* width: 50%; */
  margin-bottom: 10px;
}

/* .main-value-container,
.option-selection-container,
.compare-dropdown-container > h5 {
  margin-top: 10px;
} */

.main-value-container {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex-grow: 1;
  width: 50%;
}

.option-selection-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.option-selector {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: var(--primary-gray-color);
}

.option-selector:hover {
  cursor: pointer;
}

.option-selector > div {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.option-selector > div > * {
  margin-right: 10px;
}

.compare-dropdown-search {
  display: flex;
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
}

.compare-dropdown-search::placeholder {
  color: inherit;
  width: 100%;
}

.selected-option-svg,
.main-value-svg {
  margin-left: 10px;
}

.selected-option-svg > rect {
  fill: var(--data-secondary-color);
}

.main-value-svg > rect {
  fill: var(--data-primary-color);
}

.compare-options-container {
  background-color: var(--primary-gray-color);
  position: absolute;
  width: 100%;
  top: 15px;
  padding: 0 20px;
  z-index: 999;
  list-style: none;
  max-height: 300px;
  overflow: auto;
}

.compare-selected-option,
.compare-unselected-option {
  padding: 10px 0;
}

.compare-selected-option:hover,
.compare-unselected-option:hover {
  cursor: pointer;
}

.compare-unselected-option:hover {
  opacity: 0.5;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Mobile Breakpoint */
@media screen and (max-width: 760px) {
  .compare-dropdown-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .compare-options-container {
    top: 24px;
  }
}
