#layout {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 12rem;
}

/* #dashboard-title {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 10px;
} */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem;
  background-color: var(--dark-accent-color);
  color: white;
}

/* ---------- Media Queries ---------- */
@media screen and (max-width: 1280px) {
  #content {
    padding-bottom: 16rem;
  }

  #footer {
    height: 16rem;
  }
}

@media screen and (max-width: 767px) {
  #content {
    padding-bottom: 10rem;
  }

  #footer {
    height: 10rem;
  }
}
