.card {
  /* min-height: 100px;
  min-width: 200px; */
  width: fit-content;
  height: fit-content;
  background-color: azure;
  padding: 20px;
  border-radius: 5px;
  /* display: flex; */
  /* flex-direction: column; */
}

.indicator-sparkline {
  width: 100%;
  height: 60px;
}

.indicator-label {
  font-size: 1rem;
  font-weight: 500;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.map-display-icon {
  padding-left: 20px;
}

.indicator-year {
  font-size: 1rem;
  font-weight: 200;
}

.indicator-most-recent-value {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.card:hover {
  background-color: rgb(144, 224, 224);
}

.data-map-wrapper {
  width: 400px;
  height: 400px;
  background-color: aliceblue;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .data-map-wrapper {
    width: 80vw;
    margin: auto;
  }
}
