.jobs-container {
  display: flex;
  padding: 0 2%;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.jobs-trend-container {
  border-right: 3px solid var(--primary-gray-color);
  width: 30%;
}

.jobs-trend-container > div {
  margin-top: 20px;
}

.indicator-trend-container {
  height: 200px;
  padding: 10px;
}

.jobs-compare-container {
  width: 70%;
}

.jcs-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.jobs-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-city, .city-select-dropdown {
  margin-top: 30px;
  margin-right: 120px;
  width: fit-content;
}

.project-city {
  display: flex;
  flex-direction: row;
  position: relative;
}

.city-select-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}

.city-selection {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  background-color: var(--primary-gray-color);
}

.city-selection:hover {
  cursor: pointer;
}

.city-selection > div {
  display: flex;
  align-items: center;
  width: fit-content;

}

.city-selection > div > * {
  margin-right: 10px;
}

#compare-city-rect, #main-city-rect {
  margin-left: 20px;
}

#compare-city-rect > rect {
  fill: var(--success-accent-color);
}

#main-city-rect > rect {
  fill: var(--secondary-color);
}

.city-select-options {
  background-color: var(--primary-gray-color);
  position: absolute;
  width: 100%;
  top: 15px;
  padding: 0 20px 10px 20px;
  z-index: 999;
}

.selected-city-option, .unselected-city-option {
  list-style: none;
  margin: 10px 0;
}

.selected-city-option:hover, .unselected-city-option:hover {
  cursor: pointer;
}

.selected-city-option {
  font-weight: bold;
}

.unselected-city-option:hover {
  opacity: 0.5;
}

.jobs-charts-wrapper {
  height: 350px;
  display: flex;
  justify-content: space-between;
}

.jobs-chart-container {
  height: 350px;
  width: 100%;
  padding: 20px 20px 0 20px;
  margin-right: 20px;
}

.jobs-chart-container:last-of-type {
  margin-right: 0;
}

.jobs-chart-selected-indicator,
.jobs-chart {
  margin-top: 2%;
}

.jobs-chart-selected-indicator {
  border-bottom: 2px solid var(--primary-gray-color);
  position: relative;
}

.jobs-indicators-dropdown {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  position: absolute;
  background-color: var(--primary-gray-color);
  z-index: 999;
}

.jobs-chart {
  border: 1px solid yellow;
  height: 100%;
}
