.jobs-container {
  display: flex;
  padding: 0 2% 2% 2%;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* jcs = Jobs City Select */
.jcs-container {
  margin-bottom: 50px;
}

.jcs-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.jobs-legend {
  display: flex;
  flex-direction: row;
}

.jobs-legend > div {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.jobs-legend > div > svg {
  margin-right: 10px;
}

#compare-cities-rect {
  fill: var(--secondary-gray-color);
}

#main-city-rect {
  fill: var(--secondary-color);
}

.jcs-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 2%;
}

.selected-jcs-button,
.unselected-jcs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 40px;
  width: 225px;
  /* text-align: center; */
  margin: auto;
  /* padding: 2px; */
}

.selected-jcs-button:hover,
.unselected-jcs-button:hover {
  cursor: pointer;
}

.selected-jcs-button {
  background-color: var(--success-accent-color);
  color: var(--white-color);
}

.unselected-jcs-button {
  background-color: #eff2f4;
  color: var(--black-color);
}

.jobs-charts-wrapper {
  height: 350px;
  display: flex;
  justify-content: space-between;
}

.jobs-chart-container {
  height: 350px;
  width: 100%;
  /* border: 1px solid black; */
  margin-right: 20px;
}

.jobs-chart-container:last-of-type {
  margin-right: 0;
}

.jobs-chart-selected-indicator,
/* .jobs-indicators-dropdown, */
.jobs-chart {
  margin-top: 2%;
}

.jobs-chart-selected-indicator {
  /* width: 100%; */
  /* margin: 2%; */
  border-bottom: 2px solid var(--primary-gray-color);
  position: relative;
}

.jobs-indicators-dropdown {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  position: absolute;
  background-color: var(--primary-gray-color);
  z-index: 999;
}

.jobs-chart {
  border: 1px solid yellow;
  height: 100%;
}
