.share-print-icons {
  /* display: flex;
  justify-content: flex-end; */
  position: absolute;
  bottom: 125px;
  right: calc(var(--desktop-outer-margin) + 5px);
}

.share-print-icons > img {
  margin: 10px;
  width: 30px;
  opacity: 0.5;
}

.share-print-icons > img:hover {
  cursor: pointer;
  opacity: 1;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Tablet Breakpoint */
@media screen and (max-width: 1281px) {
  .share-print-icons {
    position: static;
    display: flex;
    justify-content: flex-end;
  }

  .share-print-icons > img {
    width: 24px;
    opacity: 0.8;
  }


}

/* Initial Mobile Breakpoint */
@media screen and (max-width: 767px) {
  .share-print-icons > img {
    width: 18px;
    margin: 5px;
  }
}
