.share-print-icons {
  /* display: flex;
  justify-content: flex-end; */
  position: fixed;
  bottom: 180px;
  right: calc(var(--desktop-outer-margin) + 15px);
  z-index: 99999999;
}

.share-print-icons > img {
  margin: 10px;
  width: 30px;
  opacity: 0.5;
}

.share-print-icons > img:hover {
  cursor: pointer;
  opacity: 1;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Tablet Breakpoint */
@media screen and (max-width: 920px) {
  .share-print-icons {
    bottom: 260px;
    right: 50px;
  }

  .share-print-icons > img {
    width: 24px;
    opacity: 0.8;
  }


}

/* Initial Mobile Breakpoint */
@media screen and (max-width: 760px) {
  .share-print-icons {
    bottom: 225px;
    right: 10px;
  }
  .share-print-icons > img {
    width: 18px;
    margin: 5px;
  }
}
