#docs-container {
  height: 100%;
  padding: 2%;
  /* padding-left: 0; */
  display: flex;
  flex-direction: column;
}

.docs-title {
  height: 10%;
  border-bottom: 2px solid var(--primary-gray-color);
}

.docs-body {
  height: 90%;
  margin-top: 2%;
  padding: 1%;
  padding-left: 0;
}
