#header-container {
  height: 250px;
}

.brand-container,
.nav-container {
  height: 125px;
}

.brand-container {
  display: flex;
}

.title-container {
  width: 40%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.title-container > * {
  margin: 2% 5% 2% 0;
}

.header-logo {
  width: auto;
  height: 80%;
}

.about-container {
  width: 60%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
}

.about-container > * {
  margin: 5%;
  color: white;
}

.nav-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--background-color);
}

.nav-link {
  color: black;
  width: 150px;
  margin: 1%;
  text-align: center;
}

.nav-link:hover {
  color: black;
  font-family: 'RobotoBold';
}

.selected-nav-link {
  color: var(--primary-color);
  font-family: 'RobotoBold';
  border-bottom: 5px solid var(--primary-color);
}

.nav-link-icon {
  width: 25px;
}

.burger-menu-button {
  opacity: 1 !important;
  color: white !important;
}

/* ----- Tablet Sizing ----- */
@media screen and (max-width: 1280px) {
  #header-container {
    height: 100px;
  }

  .title-container,
  .about-container {
    height: 100px;
    width: 50%;
  }

  .about-container {
    padding-right: 0;
  }

  .about-container > i {
    margin-right: 50px;
  }

  .nav-container {
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 50px;
    top: 70px;
    height: 40%;
    width: 275px;
    padding: 5px 0;
    z-index: 9;
    border: 1px solid var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .nav-container > a {
    height: auto;
    width: 75%;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .title-container {
    width: 25%;
    justify-content: center;
  }

  .about-container {
    width: 75%;
    justify-content: space-between;
  }

  .header-logo {
    height: 50%;
    /* width: auto; */
  }

  .edd-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 415px) {
  .about-container > i {
    margin-right: 25px;
  }

  .nav-container {
    right: 25px;
  }
} ;
