.brand-container,
.nav-container {
  height: 50%;
}

.brand-container {
  display: flex;
}

.title-container {
  width: 35%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: var(--desktop-outer-margin);
  color: white;
}

.title-container > * {
  margin: 5%;
}

.about-container {
  width: 65%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: var(--desktop-outer-margin);
}

.header-logo {
  width: auto;
  height: 75%;
}

.about-container > * {
  color: white;
}

.nav-container {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 var(--desktop-outer-margin);
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-border-color);
}

.nav-link {
  color: black;
  width: 150px;
  text-align: center;
}

.nav-link:hover {
  color: black;
  font-family: 'RobotoBold';
}

.selected-nav-link {
  color: var(--primary-color);
  font-family: 'RobotoBold';
  border-bottom: 5px solid var(--primary-color);
}

.nav-link-icon {
  width: 25px;
}

.burger-menu-button {
  opacity: 1 !important;
  color: white !important;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Tablet Breakpoint */
@media screen and (max-width: 1280px) {
  .brand-container {
    height: 100%;
  }

  .about-container,
  .title-container {
    width: 50%;
  }

  .title-container {
    padding-left: var(--tablet-outer-margin);
  }

  .about-container {
    padding-right: var(--tablet-outer-margin);
  }

  .about-container > i {
    color: white;
    width: auto;
  }

  .nav-container {
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: calc(var(--tablet-outer-margin) + 3px);
    top: calc((var(--tablet-header-height) / 2) + 15px);
    height: 40%;
    width: 275px;
    padding: 5px 0;
    z-index: 9999999;
    border: 1px solid var(--primary-border-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .nav-container > a {
    height: auto;
    width: 75%;
    margin: auto;
  }
}

/* Initial Mobile Breakpoint */
@media screen and (max-width: 767px) {
  .title-container {
    padding: 0 var(--mobile-outer-margin);
    width: 25%;
    justify-content: center;

    /* justify-content: flex-start; */
  }

  .about-container {
    width: 75%;
    padding-right: var(--mobile-outer-margin);
    justify-content: space-between;
    padding-left: 20px;
  }

  .header-logo {
    height: 50%;
  }

  .nav-container {
    right: calc(var(--mobile-outer-margin) + 3px);
    top: calc((var(--mobile-header-height) / 2) + 15px);
  }
}
