.title-with-trend-data-toggler {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ---------- Media Queries ---------- */
/* Initial Mobile Breakpoint */
@media screen and (max-width: 760px) {
  .title-with-trend-data-toggler {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .title-with-trend-data-toggler > h1 {
    font-size: 22px;
  }
}