.detail-card-header {
  padding: 2% 2% 2% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detail-header-titles > h1 {
  font-family: 'RobotoBlack';
}

.detail-card-container {
  display: flex;
  flex-direction: column;
}

.detail-card-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-title {
  font-size: 22px;
  line-height: 1.25;
  height: 25%;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Tablet Breakpoint */
/* @media screen and (max-width: 1280px) {} */

/* Initial Mobile Breakpoint */
/* @media screen and (max-width: 767px) {} */
