.detail-card-wrapper {
  display: flex;
  height: 75%;
  /* padding: 2%; */
  margin: 2%;
  border: 1px solid var(--primary-border-color);
  background-color: white;
}

.detail-card-section,
.community-profile-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2%;
}

.detail-title {
  font-size: 22px;
  line-height: 1.25;
  height: 25%;
}

.community-profile-section {
  /* display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2%; */
  /* margin: 0 2%; */
  border-right: 1px solid var(--primary-border-color);
}

.population-data-wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.population-data-wrapper > div {
  margin-bottom: 20px;
}

.total-pop-title {
  height: 20%;
  line-height: 1.25;
}

.pop-title-indicator {
  font-size: 16px;
}

.pop-title-value {
  font-size: 24px;
}

.cp-charts-container {
  height: 40%;
}
