.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px var(--desktop-outer-margin);
}

.footer-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 20px;
}

.footer-container > div > p {
  margin: 0;
  font-size: 1rem;
}

#bloomberg-logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.partner-logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.partner-logo {
  width: auto;
  height: 30px;
  align-self: center;
  margin-right: 10px;
}

#block-footer-logo {
  height: 45px;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Tablet Sizing */
@media screen and (max-width: 920px) {
  .footer-container {
    margin-left: var(--tablet-outer-margin);
    margin-right: var(--tablet-outer-margin);
    padding: 10px 0;
    align-items: flex-start;
  }

  .partner-logos-container {
    justify-content: space-evenly;
  }
}

/* Initial Mobile Sizing */
@media screen and (max-width: 760px) {
  .footer-container {
    justify-content: flex-start;
    margin-left: var(--mobile-outer-margin);
    margin-right: var(--mobile-outer-margin);
  }

  .footer-container > div {
    width: 50%;
    padding: 10px 0;
  }

  .footer-container > div > p {
    margin: 0;
    font-size: 10px;
  }

  #bloomberg-logo {
    width: 100px;
  }

  .partner-logos-container {
    justify-content: space-evenly;
  }

  .partner-logos-container > img {
    margin-right: 10px;
    height: 30px;
  }

  #block-footer-logo {
    height: 45px;
  }
}

@media screen and (max-width: 580px) {
  .partner-logos-container > img {
    margin-right: 5px;
    height: 20px;
  }

  #block-footer-logo {
    height: 35px;
  }
}
