.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.footer-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.footer-container > div > p {
  margin: 0;
  font-size: 16px;
}

.bloomberg-logo {
  width: 150px;
  height: auto;
}

.partner-logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.partner-logos-container > img {
  width: auto;
  height: 55px;
}

#block-footer-logo {
  height: 70px;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Tablet Sizing */
@media screen and (max-width: 1280px) {
  .footer-container > div {
    width: 80%;
    /* margin-top: 0; */
  }
}

/* Initial Mobile Sizing */
@media screen and (max-width: 767px) {
  .footer-container > div {
    /* margin-top: %; */
    font-size: 10px;
    width: 75%;
  }

  .footer-container > div > p {
    margin: 0;
    font-size: 10px;
  }

  .bloomberg-logo {
    width: 75px;
  }

  .partner-logos-container > img {
    height: 25px;
  }

  #block-footer-logo {
    height: 35px;
  }
}
