.cp-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cp-body {
  display: flex;
  flex-direction: row;
  width: 'fit-content';
}

.cp-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 2%;
  font-size: 16px;
  line-height: 1.5;
}

.cp-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.large-indicator-values-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  height: 100%;
}

.large-indicator-value > h5 {
  font-size: 18px;
}

.title-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.horizontal-percentage-indicator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  /* background-image: linear-gradient(to right, var(--secondary-gray-color), var(--primary-gray-color)); */
  background-color: var(--primary-gray-color);
}

.horizontal-percentage-indicator > h5 {
  width: 100%;
  margin-left: 20px;
}

.cp-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* padding-top: 10px; */
}

.cp-chart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recharts-surface {
  width: fit-content;
}

.cp-donut-legend {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

/* -------------------- MEDIA QUERIES -------------------- */
/* Initial Desktop Breakpoint */
@media screen and (max-width: 1670px) {
  .cp-donut-legend {
    width: 135px;
  }
}

@media screen and (max-width: 1465px) {
  .cp-body {
    flex-direction: column;
  }

  .cp-donut-legend {
    width: 200px;
  }
}
/* Initial Tablet Breakpoint */
@media screen and (max-width: 1280px) {
  .cp-header-title > h2 {
    font-size: 26px;
  }

  .cp-header-title > h3 {
    font-size: 22px;
  }

  .cp-header > div > i {
    font-size: 32px !important;
  }

  .cp-section {
    padding-bottom: 50px;
    background-color: var(--white-color);
  }
}

/* Initial Mobile Breakpoint */
@media screen and (max-width: 767px) {
  .cp-header-title > h2 {
    font-size: 22px;
  }

  .cp-header-title > h3 {
    font-size: 18px;
  }

  .cp-header > div > i {
    font-size: 28px !important;
  }

  .cp-data-wrapper {
    height: 100%;
  }

  .cp-donut-legend {
    width: 135px;
  }
}
