.App {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  font-family: 'RobotoRegular', sans-serif;
}

#layout {
  /* background-color: var(--background-color); */
  background-image: url('/public/images/background_300x300.png');
  width: 100vw;
  height: 100vh;
}

.edd-title {
  width: 200px;
  font-size: 25px;
  overflow-wrap: break-word;
  line-height: 0.9;
}

.bold-font {
  font-family: 'RobotoBold';
}

.italic-font {
  font-family: 'RobotoItalic';
}

.thin-font {
  font-family: 'RobotoThin';
}

.thin-italic-font {
  font-family: 'RobotoThinItalic';
}

.medium-font {
  font-family: 'RobotoMedium';
}

.medium-italic-font {
  font-family: 'RobotoMediumItalic';
}

.black-font {
  font-family: 'RobotoBlack';
}

.black-italic-font {
  font-family: 'RobotoBlackItalic';
}

.half-opacity {
  opacity: 0.5;
}
