.App {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  font-family: var(--primary-font-family);
}

#layout {
  /* background-color: var(--background-color); */
  background-image: url('/public/images/background_300x300.png');
  width: 100vw;
  height: 100vh;
}
