:root {
  --primary-color: #002944;
  --secondary-color: #006aaf;
  --tertiary-color: #72acd2;
  --quaternary-color: #969696;
  --background-color: #dfe5e9;
  --dark-accent-color: #333333;
  --upward-trend-accent-color: #8dc63f;
  --downward-trend-accent-color: #e46062;
  --primary-font-family: 'Roboto', sans-serif;
}
