.indicator-cards {
  display: flex;
  /* justify-content: flex-start; */
  width: 90vw;
  
  /* height: 20vh; */
  gap: 10px;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow: auto;
  /* flex-direction: row; */

}

.category-header {
  font-size: 2rem;
  font-size: 700;
  margin-bottom: 20px;
  border-bottom: solid 2px black;
}