.indicator-cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 98vw;
  /* margin: auto; */
  
  /* height: 20vh; */
  gap: 10px;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow: auto;
  /* flex-direction: row; */

}

.category-header {
  font-size: 2rem;
  font-size: 700;
  padding-bottom: 5px;
  margin-bottom:  20px;
  border-bottom: solid 2px black;
}

@media only screen and (max-width: 500px) {
  .indicator-cards {
    width: 90vw;
    margin: auto;
  }
}